<h1>Admin</h1>

<ul>
    {{#each users}}

    <li>
        <img src="{{this.photo}}">
        {{this.firstName}}
        {{this.surname}}
        {{this.birthDate}}
    </li>

    <form id="profilePhotoForm">
        <input type="text" name="id" value="{{this._id}}" disabled hidden>
        <input type="file" name="file" id="profilePhotoInput">
        <button type="submit">Envoyer</button>
    </form>

    {{/each}}

</ul>